.coord {
    width: 300px;
    height: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.axis {
    position: absolute;
}

.axis::after {
    position: absolute;
    font-weight: bold;
}

.x {
    width: 300px;
    height: 6px;
    background-color: #f73859;
    color: #f73859;
}

.x::after {
    content: "+X";
    top: 6px;
    right: 4px;
}

.y {
    width: 6px;
    height: 300px;
    background-color: #17b978;
    color: #17b978;
}

.y::after {
    content: "+Y";
    bottom: 2px;
    left: 8px;
}

.object {
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    border: 3px solid #145374;
    border-radius: 1px;
}

.shadow {
    opacity: 0.5;
    border-style: dashed;
    border-width: 2px;
    background-image: repeating-linear-gradient(-45deg, #5588a3, #5588a3 3px, #fff 3px, #fff 5px);
}

.real {
    background-color: #5588a3;
}
